<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeyondVision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F0DBBCC1C8B48000027A954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F0DBBE31C8B48000027A954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F0DBBEE1C8B48000027A954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
